footer {
    background-color: hsla(0, 0%, 69%, 0.5);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    margin-top: 10px;
}

footer img {
    height: 70px;
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

footer ul {
    columns: 3;
    gap: 70px;
    list-style: none;
}

footer a {
    font-weight: 400;
    color: hsl(210, 10%, 33%);
    line-height: 2.5;
    text-decoration: none;
}

footer a:hover {
    color: hsl(171, 66%, 44%);
}

.social-icons svg {
    margin-left: 30px;
}

.social-icons path:hover {
    fill: #26baa4;
}

.attribution {
    position: sticky;
    bottom: 10px;
    right: 40%;
    font-size: 11px;
    text-align: center;
    opacity: 70%;
}

.attribution a {
    text-decoration: none;
    color: #007765;
    font-weight: 600;
}

.attribution a:hover {
    transition: all ease-in-out 0.1s;
    font-size: larger;
}

@media (max-width: 1000px) {
    footer {
        height: fit-content;
        padding: 40px;
    }

    footer,
    footer ul,
    .footer-items {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        columns: 1;
        width: 100%
    }

    .social-icons {
        display: flex;
    }
}